
    <div class="header landing_page">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <nav class="navbar navbar-expand-lg navbar-light px-0">
                        <a class="navbar-brand" [routerLink]="'/'"><img style="max-width: 70px;" src="../../assets/images/w_logo.png" alt="">
                            <span></span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav" *ngIf="currentUrl === '/'">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-scroll-nav="3">Testimonial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-scroll-nav="4">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dashboard_log">
                            <div class="d-flex align-items-center">
                                <div class="header_auth">
                                    <a [routerLink]="'/login'" class="btn btn-success">Sign In</a>
                                    <a [routerLink]="'/register'" class="btn btn-outline-primary">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
