
    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/waves/waves.min.js"></script>

    <script src="../../assets/vendor/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="../..//js/plugins/owl-carousel-init.js"></script>
    <script src="../../assets/vendor/scrollit/scrollIt.js"></script>
    <script src="./js/plugins/scrollit-init.js"></script>

    <!-- Chart sparkline plugin files -->
    <script src="../../assets/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../..//js/plugins/sparkline-init.js"></script>

    <script src="../../assets/vendor/validator/jquery.validate.js"></script>
    <script src="../../assets/vendor/validator/validator-init.js"></script>
    <script src="../..//js/scripts.js"></script>

    <script src="../../assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="../../assets/vendor/magnific-popup/magnific-popup-init.js"></script>
