<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<div id="main-wrapper" [ngClass]="getClass()">
    <app-header-navigation *ngIf="currentPage !== '/dashboard'"></app-header-navigation>
    <app-auth-header *ngIf="currentPage === '/dashboard'"></app-auth-header>
    <router-outlet></router-outlet>
    <app-footer-navigation></app-footer-navigation>
</div>
