<div class="intro section-padding position-relative" id="intro" data-scroll-index="0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-md-6">
                <div class="intro-content">
                    <h2>{{feature}} <br>crypto with Vurg</h2>
                    <p>Buy and sell digital currencies in an easy way. Get your Vurg account, start accepting payments, and earn money.</p>
                    <p class="ln-hgt-0 font-weight-bolder">Buy crypto with top payment methods.</p>
                    <div class="header_auth">
                        <a href="#" class="btn btn-left btn-success waves-effect">Interac e-Transfer</a>
                        <a href="#" class="btn btn-success waves-effect">PayPal</a>
                        <a href="#" class="btn btn-success waves-effect">Bank transfer</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 py-md-5">
                <!-- <div class="card">
                    <div class="card-body">
                        <div class="buy-sell-widget">
                            <form method="post" name="myform" class="currency_validate">
                                <div class="form-group">
                                    <label class="mr-sm-2">Currency</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"><i class="cc BTC-alt"></i></label>
                                        </div>
                                        <select name='currency' class="form-control">
                                            <option value="">Select</option>
                                            <option value="bitcoin">Bitcoin</option>
                                            <option value="litecoin">Litecoin</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="mr-sm-2">Payment Method</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"><i class="fa fa-bank"></i></label>
                                        </div>
                                        <select class="form-control" name="method">
                                            <option value="">Select</option>
                                            <option value="bank">Bank of America ********45845</option>
                                            <option value="master">Master Card ***********5458</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="mr-sm-2">Enter your amount</label>
                                    <div class="input-group">
                                        <input type="text" name="currency_amount" class="form-control"
                                            placeholder="0.0214 BTC">
                                        <input type="text" name="usd_amount" class="form-control"
                                            placeholder="125.00 USD">
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">
                                        <p class="mb-0">Monthly Limit</p>
                                        <h6 class="mb-0">$49750 remaining</h6>
                                    </div>
                                </div>
                                <button type="submit" name="submit" class="btn btn-success btn-block arrow-hover"><span>Exchange
                                    Now</span>
                                </button>

                            </form>
                        </div>
                    </div>
                </div> -->
                <div class="card">
                    <div class="card-body">
                        <div class="buy-sell-widget">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                        href="#buy">Buy</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sell">Sell</a>
                                </li>
                            </ul>
                            <div class="tab-content tab-content-default">
                                <div class="tab-pane fade show active" id="buy" role="tabpanel">
                                    <form method="post" name="myform" class="currency_validate">
                                        <div class="form-group">
                                            <label class="mr-sm-2">Currency</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i
                                                            class="cc BTC-alt"></i></label>
                                                </div>
                                                <select name='currency' class="form-control">
                                                    <option value="">Select</option>
                                                    <option value="bitcoin">Bitcoin</option>
                                                    <option value="litecoin">Litecoin</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Payment Method</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i
                                                            class="fa fa-bank"></i></label>
                                                </div>
                                                <select class="form-control" name="method">
                                                    <option value="">Select</option>
                                                    <option value="bank">Bank of America ********45845</option>
                                                    <option value="master">Master Card ***********5458</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Enter your amount</label>
                                            <div class="input-group">
                                                <input type="text" name="currency_amount" class="form-control"
                                                    placeholder="0.0214 BTC">
                                                <input type="text" name="usd_amount" class="form-control"
                                                    placeholder="125.00 USD">
                                            </div>
                                            <div class="d-flex justify-content-between mt-3">
                                                <p class="mb-0">Monthly Limit</p>
                                                <h6 class="mb-0">$49750 remaining</h6>
                                            </div>
                                        </div>
                                        <button type="submit" name="submit"
                                            class="btn btn-success btn-block">Exchange
                                            Now</button>

                                    </form>
                                </div>
                                <div class="tab-pane fade" id="sell">
                                    <form method="post" name="myform" class="currency2_validate">
                                        <div class="form-group">
                                            <label class="mr-sm-2">Currency</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i
                                                            class="cc BTC-alt"></i></label>
                                                </div>
                                                <select name='currency' class="form-control">
                                                    <option value="">Select</option>
                                                    <option value="bitcoin">Bitcoin</option>
                                                    <option value="litecoin">Litecoin</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Payment Method</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i
                                                            class="fa fa-bank"></i></label>
                                                </div>
                                                <select class="form-control" name="method">
                                                    <option value="">Select</option>
                                                    <option value="bank">Bank of America ********45845</option>
                                                    <option value="master">Master Card ***********5458</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Enter your amount</label>
                                            <div class="input-group">
                                                <input type="text" name="currency_amount" class="form-control"
                                                    placeholder="0.0214 BTC">
                                                <input type="text" name="usd_amount" class="form-control"
                                                    placeholder="125.00 USD">
                                            </div>
                                            <div class="d-flex justify-content-between mt-3">
                                                <p class="mb-0">Monthly Limit</p>
                                                <h6 class="mb-0">$49750 remaining</h6>
                                            </div>
                                        </div>
                                        <button type="submit" name="submit"
                                            class="btn btn-success btn-block">Exchange
                                            Now</button>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="features-content">
                    <span><i class="fa fa-shield"></i></span>
                    <p class="mt-1">
                        Secured by Escrow
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="features-content">
                    <span><i class="fa fa-heart"></i></span>
                    <p class="mt-1">
                        4.8 Million Happy Users
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="features-content">
                    <span><i class="fa fa-hand-peace-o"></i></span>
                    <p class="mt-1">
                        Thousands of Trusted Offers

                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="features-content">
                    <span><i class="fa fa-money"></i></span>
                    <p class="mt-1">
                        Billions in Global Volume
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-lg-5 justify-content-center">
            <div class="col-xl-6">
                <div class="section_heading">
                    <span>Features</span>
                    <h3>Over 350 ways to buy and sell Bitcoin</h3>
                    <p>Select a payment method you like and trade directly with other people just like you!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="features-content">
                    <span><i class="fa fa-money"></i></span>
                    <h4>Cash payments</h4>
                    <p>
                        Buy Bitcoin and pay cash. It's that simple. No bank account needed.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-content">
                    <span><i class="fa fa-microchip"></i></span>
                    <h4>Digital currencies</h4>
                    <p>
                        Trade your digital currencies or tokens for Bitcoin added instantly to your digital wallet.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-content">
                    <span><i class="fa fa-credit-card"></i></span>
                    <h4>Debit/credit cards</h4>
                    <p>
                        Use your debit or credit card to purchase Bitcoin on Vurg.
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-lg-5 row">
            <div class="col-md-4">
                <div class="features-content">
                    <span><i class="fa fa-university"></i></span>
                    <h4>Bank storage</h4>
                    <p>
                        Buy Bitcoin by transferring money from your bank account to a Bitcoin vendor on Vurg.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-content">
                    <span><i class="fa fa-suitcase"></i></span>
                    <h4>Online wallets</h4>
                    <p>
                        Don’t want to leave the house? You can use a number of popular payment apps.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-content">
                    <span><i class="fa fa-gift"></i></span>
                    <h4>Gift cards</h4>
                    <p>
                        Have a gift card you don't need? Trade it here for Bitcoin instantly.
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-lg-5 justify-content-center">
            <div class="d-flex align-items-center">
                
                    <button class="btn btn-primary arrow-hover">View all offers</button>
                
            </div>
        </div>
    </div>
</div>

<!-- <div class="features">
    <div class="container">
        <div class="row py-lg-5 justify-content-center">
            <div class="col-xl-6">
                <div class="section_heading">
                    <span>Vurg in the media</span>
                    <p>Vurg is very popular in the cryptocurrency space and has had extensive coverage in many famous magazines. One of our missions is to build 100 schools in Africa. Check out the video below to learn more about our #builtwithbitcoin initiative.
                    </p>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="intro-video-play">
                    <div class="play-btn">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=8NgVGnX4KOw">
                            <span><i class="fa fa-play"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="features">
    <div class="container">
        <div class="row py-lg-5 justify-content-center">
            <div class="col-xl-6">
                <div class="section_heading">
                    <span>Become a Bitcoin vendor on Vurg</span>
                    <p>Become a vendor on Vurg and empower millions around the world with financial freedom. Offer multiple payment methods that buyers like, eliminate middlemen, and we will help you with all the resources and guidance needed to succeed.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>12,000+</b></h3>
              <h5>Trusted offers</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <div class="card">
            <div class="card-body features-content">
                <h3 class="card-title"><b>12,000+</b></h3>
                <h5>Trusted vendors</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-right">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>4,800,000+</b></h3>
                <h5>Happy customers</h5>
              </div>
            </div>
          </div>
      </div>
    <div class="row justify-content-center">
        <div class="d-flex align-items-center">
            <button class="btn btn-primary arrow-hover">Become vendor</button>  
        </div>
    </div>
</div>    

<div class="features">
    <div class="container">
        <div class="row py-lg-5 justify-content-center">
            <div class="col-xl-6">
                <div class="section_heading">
                    <span>With Vurg you can</span>
                    <p>Elevate your financial freedom to a higher plane with Vurg.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body text-center features-content">
              <span><i class="fa fa-btc"></i></span>
              <h3 class="card-title mt-2"><b>Buy Bitcoin online</b></h3>
              <p>Buy Bitcoin on Vurg in real time. Trade with other users online using our live chat.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="card">
            <div class="card-body features-content">
                <span><i class="fa fa-btc"></i></span>
                <h3 class="card-title mt-2"><b>Sell Bitcoin</b></h3>
                <p>Sell your Bitcoin at your chosen rate, and get paid in one of numerous payment methods.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="card">
              <div class="card-body features-content">
                <span><i class="fa fa-shield"></i></span>
                <h3 class="card-title mt-2"><b>Trade with secure escrow</b></h3>
                <p>Your Bitcoin is held in our secure escrow until the trade is completed successfully.</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-sm-4 text-center">
          <div class="card">
            <div class="card-body features-content">
              <span><i class="fa fa-suitcase"></i></span>
              <h3 class="card-title mt-2"><b>Get a free wallet</b></h3>
              <p>Get a life-time free Bitcoin wallet maintained by BitGo, the leading provider of secure Bitcoin wallets.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="card">
            <div class="card-body features-content">
                <span><i class="fa fa-rocket"></i></span>
                <h3 class="card-title mt-2"><b>Build your reputation</b></h3>
                <p>Our user feedback system enables you to identify trusted and experienced peers to trade with.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="card">
              <div class="card-body features-content">
                <span><i class="fa fa-users"></i></span>
                <h3 class="card-title mt-2"><b>Earn extra income</b></h3>
                <p>Take advantage of our Affiliate Program to create a steady income stream.</p>
              </div>
            </div>
        </div>
    </div>
</div> 

<div class="testimonial" data-scroll-index="3">
    <div class="container">
        <div class="row py-lg-5 justify-content-center">
            <div class="col-xl-6">
                <div class="section_heading">
                    <span>What's Say</span>
                    <h3>Trusted by 2 million customers</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-md-11">
                <div class="testimonial-content">
                    <div class="owl-carousel owl-theme">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="customer-img">
                                    <img class="img-fluid" src="../../assets/images/testimonial/1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="customer-review">
                                    <img class="img-fluid" src="../../assets/images/brand/2.webp" alt="">
                                    <p>Integrating Tradient services into Trezor Wallet's exchange has been a
                                        great success for all parties, especially the users.
                                    </p>
                                    <div class="customer-info">
                                        <h5>Mr John Doe</h5>
                                        <p>CEO, Example Company</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="customer-img">
                                    <img class="img-fluid" src="../../assets/images/testimonial/2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="customer-review">
                                    <img class="img-fluid" src="../../assets/images/brand/3.webp" alt="">
                                    <p>MEW is excited to bring Tradient’s extensive range of crypto assets,
                                        competitive rates and seamless swap functionality</p>
                                    <div class="customer-info">
                                        <h5>Mr Abraham</h5>
                                        <p>CEO, Example Company</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-form section-padding" data-scroll-index="4">
    <div class="container">
        <div class="row py-lg-5 justify-content-center">
            <div class="col-xl-6">
                <div class="section_heading">
                    <span>Ask Question</span>
                    <h3>Let us hear from you directly!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4">
                <div class="info-list">
                    <h4 class="mb-3">Address</h4>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> California, USA</li>
                        <li><i class="fa fa-phone"></i> +1(949) 397-1900</li>
                        <li><i class="fa fa-envelope"></i> iris@vurg.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-8">
                <form method="post" name="myform" class="contact_validate">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="contactName">
                                    Full name
                                </label>
                                <input type="text" class="form-control" id="contactName" placeholder="Full name"
                                    name="firstname">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="contactEmail">
                                    Email
                                </label>
                                <input type="email" class="form-control" name="email"
                                    placeholder="hello@domain.com">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control p-3" name="message" rows="5"
                                    placeholder="Tell us what we can help you with!"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary px-4 arrow-hover">
                        Send message
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
